
/* Este es un selector de etiqueta */
body {
    background-image: url("../image/papel-pintado-pared.jpg");
    font-family: sans-serif;
}

h1 {
    color:rgb(86, 92, 110);
    text-align: center;
    
}